:root {
  --yellow: rgb(255, 235, 59);
  --orange: rgb(255, 152, 0);
  --red: rgb(244, 67, 54);
}

body {
  font-family: sans-serif;
  text-align: center;
}

.cell.low {
  fill: var(--yellow);
}

.cell.medium {
  fill: var(--orange);
}

.cell.high {
  fill: var(--red);
}

.cell.extreme {
  fill: black;
}

.cell:hover {
  stroke-width: 1;
  stroke: white;
}
