:root {
  --red: rgb(244, 67, 54);
  --pink: rgb(239, 154, 154);
  --lightblue: rgb(144, 202, 249);
  --blue: rgb(33, 150, 243);
}

body {
  font-family: sans-serif;
  text-align: center;
}

.highly-uneducated {
  fill: --var(red);
}

.uneducated {
  fill: --var(pink);
}

.educated {
  fill: --var(lightblue);
}

.highly-educated {
  fill: --var(blue);
}
