:root {
  --red: rgb(244, 67, 54);
  --pink: rgb(239, 154, 154);
  --lightblue: rgb(144, 202, 249);
  --blue: rgb(33, 150, 243);
}

body {
  font-family: sans-serif;
  text-align: center;
}

svg .state {
  fill: none;
  stroke: white;
}

svg .highly-ignorant {
  fill: var(--red);
}

svg .ignorant {
  fill: var(--pink);
}

svg .educated {
  fill: var(--lightblue);
}

svg .highly-educated {
  fill: var(--blue);
}
