:root {
  --green: rgb(76, 175, 80);
  --lightgreen: rgb(165, 214, 167);
}

body {
  font-family: sans-serif;
  text-align: center;
}

.bar {
  fill: var(--green);
}

.bar:hover {
  fill: var(--lightgreen);
}

#y-axis .tick line {
  opacity: 0.1;
}
