:root {
  --red: rgb(244, 67, 54);
  --orange: rgb(255, 152, 0);
  --yellow: rgb(255, 235, 59);
  --green: rgb(76, 175, 80);
  --blue: rgb(33, 150, 243);
  --indigo: rgb(63, 81, 181);
  --violet: rgb(156, 39, 176);
}

body {
  text-align: center;
}

.bar {
  fill: var(--green);
}

.bar:hover {
  opacity: 0.5;
}
