:root {
  --yellow: rgb(255, 235, 59);
  --orange: rgb(255, 152, 0);
  --red: rgb(244, 67, 54);
}

body {
  font-family: sans-serif;
  text-align: center;
}

svg .low {
  fill: var(--yellow);
}

svg .medium {
  fill: var(--orange);
}

svg .high {
  fill: var(--red);
}

svg .extreme {
  fill: black;
}

svg .cell:hover {
  stroke: white;
}
