:root {
  --red: rgb(244, 67, 54);
  --orange: rgb(255, 152, 0);
  --green: rgb(76, 175, 80);
  --blue: rgb(33, 150, 243);
  --purple: rgb(156, 39, 176);
  --gray: rgb(158, 158, 158);
}

body {
  font-family: sans-serif;
  text-align: center;
}

svg text {
  font-size: 10px;
}

svg [data-category] {
  fill: var(--gray);
}

svg [data-category="Product Design"] {
  fill: var(--red);
}

svg [data-category="Tabletop Games"] {
  fill: var(--orange);
}

svg [data-category="Video Games"] {
  fill: var(--green);
}

svg [data-category="Technology"] {
  fill: var(--blue);
}

svg [data-category="Hardware"] {
  fill: var(--purple);
}

svg .tile:hover {
  opacity: 50%;
}
