:root {
  --lightorange: rgb(255, 204, 128);
  --mediumorange: rgb(255, 183, 77);
  --orange: rgb(255, 152, 0);
  --lightviolet: rgb(206, 147, 216);
  --mediumviolet: rgb(186, 104, 200);
  --violet: rgb(156, 39, 176);
}

body {
  font-family: sans-serif;
  text-align: center;
}

.technology.low {
  fill: var(--lightorange);
}

.technology.medium {
  fill: var(--mediumorange);
}

.technology.high {
  fill: var(--orange);
}

.art.low {
  fill: var(--lightviolet);
}

.art.medium {
  fill: var(--mediumviolet);
}

.art.high {
  fill: var(--violet);
}

.other {
  fill: gray;
}
