:root {
  --red: rgb(244, 67, 54);
  --orange: rgb(255, 152, 0);
  --green: rgb(76, 175, 80);
  --blue: rgb(33, 150, 243);
  --violet: rgb(156, 39, 176);
}

body {
  font-family: sans-serif;
  text-align: center;
}

text {
  font-size: 10px;
}

.product-design {
  fill: var(--red);
}

.tabletop-games {
  fill: var(--orange);
}

.video-games {
  fill: var(--green);
}

.technology {
  fill: var(--blue);
}

.hardware {
  fill: var(--violet);
}

.other {
  fill: silver;
}
