:root {
  --blue: rgb(33, 150, 243);
  --red: rgb(244, 67, 54);
}

body {
  font-family: sans-serif;
  text-align: center;
}

.dot {
  stroke-width: 4;
  stroke: var(--blue);
}

.dot.doping {
  stroke: var(--red);
}

.dot:hover {
  stroke-width: 8;
}

#y-axis .tick line {
  opacity: 0.1;
}
