:root {
  --blue: rgb(33, 150, 243);
  --red: rgb(244, 67, 54);
}

body {
  font-family: sans-serif;
  text-align: center;
}

svg .dot {
  stroke-width: 4px;
}

svg .dot:hover {
  stroke-width: 8px;
}

svg .dot[data-doping="false"] {
  stroke: var(--blue);
}

svg .dot[data-doping="true"] {
  stroke: var(--red);
}

svg #y-axis .tick line {
  opacity: 10%;
}
